body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    font-family: Lato;
}
.universal-section {
    text-align: center;
}
.universal-section h4 {
    color: #272727;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 160px;
}
.universal-section p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding: 0 400px;
}

/* Banner Section Starts Here */
.header {
    background: rgba(229, 84, 115, 0.10);
}
.header-section {
    padding: 30px 170px 0px 170px;
    display: flex;
}
.header-content {
    margin-top: 0px;
    width: 58%;
}
.header-content h4 {
    color: #272727;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-right: 80px;
    margin-bottom: 0px;
}
.header-content p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-right: 50px;
}
.header-content button {
    width: 160px;
    height: 55px;
    border-radius: 8px;
    background: #E55473;
    font-size: 18px;
    border: 0px;
    color: #fff;
}
.header-content button:hover {
    color: #E55473;
    background-color: #fff;
    border: 1px solid #E55473;
} 
.header-image {
    width: 42%;
}
.header-image img {
    width: 450px;
    height: 560px;
}
/* Banner Section Ends Here */

/* Featured Section Starts Here */
.feature {}
.feature ul {
    text-decoration: none;
    list-style: none;
    margin-left: 220px;
}
.feature ul li {
    display: inline;
    text-decoration: none;
}
.feature ul li a {
    color: #272727;
    font-size: 18px;
}
.feature ul li a:hover {
    color: #E55473;
    font-size: 18px;
}
.feature ul li:nth-child(2) {
    margin-left: 200px;
}
.feature ul li:nth-child(3) {
    margin-left: 200px;
}
.featured-flowers {
    display: flex;
    padding: 30px 170px 0px 170px;
}
.flowers {
    border-radius: 300px 300px 0px 0px;
    padding: 20px 30px 0px 30px;
    width: 33.33%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}
.flowers img {
    width: 230px;
    height: 280px;
    margin-top: 55px;
}
.flowers-id1 {
    background-color: rgba(167, 33, 98, 0.15);
}
.flowers-id2 {
    background-color: rgba(5, 151, 160, 0.15);
    
}
.flowers-id3 {
    background-color: rgba(71, 125, 17, 0.15);
}
.featured-flowers-content {
    display: flex;
    justify-content: center;
}
.featured-flowers-content p {
    padding: 10px 120px;
}

.optional-section {
    margin: 128px 170px 128px 170px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: center;
}
.optional-content {
    justify-content: center;
    padding: 60px 40px 60px 40px;
}
.op1 {
    margin-left: 70px;
}
.op2 {
    padding-left: 45px;
}
.op3 {
    margin-left: 20px;
}
/* Featured Section Ends Here */

/* Sales Section Starts Here */
.sales {
    background: rgba(229, 84, 115, 0.05);
    padding: 80px 0px 80px 0px;
}
.sales-section {
    padding: 30px 170px 0px 170px;
    display: flex;
}
.sales-content {
    margin-top: 35px;
    width: 70%;
    text-align: center;
}
.sales-content h4 {
    color: #272727;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-right: 80px;
    margin-bottom: 0px;
    margin-left: 40px;
}
.sales-content p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-right: 150px;
    margin-left: 100px;
}
.sales-content button {
    width: 130px;
    height: 50px;
    border-radius: 8px;
    background: #E55473;
    font-size: 18px;
    border: 0px;
    color: #fff;
    margin-right: 30px;
    margin-top: 8px;
}
.sales-content button:hover {
    color: #E55473;
    background-color: #fff;
    border: 1px solid #E55473;
} 
.sales-image {
    width: 30%;
}
.sales-image img {
    width: 230px;
    height: 300px;
}
/* Sales Section Ends Here */

/* Instagram Section Starts Here */
.featured-insta {
    display: flex;
    padding: 30px 170px 0px 170px;
    margin-bottom: 200px;
}
.insta {
    /* padding: 20px 30px 0px 30px; */
    width: 25%;
    /* display: flex; */
    justify-content: center;
}
.insta img {
    width: 230px;
    height: 280px;
    margin: auto;
    display: block;
}
.insta img:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
/* Instagram Section Ends Here */

/* Location Starts */
.location {
    background: rgba(229, 84, 115, 0.05);
    padding: 5px 0px 130px 0px;
}
.location-section {
    padding: 30px 170px 0px 170px;
    display: flex;
}
.location-content {
    width: 50%;
}
.form-section {
    background-color: #111010;
    padding: 30px;
    margin-right: 10px;
}
.wrap-names {
    display: flex;
}
.wrap-names-content p {
    color: wheat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: 30px;
    text-align: left;
}
.wrap-names-content input {
    height: 25px;
    width: 190px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    margin-right: 15px;
}
.wrap-numbers p {
    text-align: left;
    color: wheat;
}
.wrap-numbers input {
    height: 25px;
    width: 415px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    margin-right: 50px;
}
.date-time {
    display: flex;
    color: wheat;
}
.date p {
    text-align: left;
    color: wheat;
}
.date input {
    height: 25px;
    width: 190px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    margin-right: 15px;
}
.time input {
    height: 25px;
    width: 190px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    margin-right: 15px;
}
.time p {
    text-align: left;
}
.location-content button {
    width: 130px;
    height: 50px;
    border-radius: 8px;
    background: #E55473;
    font-size: 18px;
    border: 0px;
    color: #fff;
    margin-right: 370px;
    margin-top: 25px;
}
.location-content button:hover {
    color: #E55473;
    background-color: #fff;
    border: 1px solid #E55473;
} 
.location-video {
    width: 40%;
}
/* Location Ends */

/* Deals Section Starts Here */
.second-banner {
    width: 990px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 200px;
    margin-top: 200px;
}
.image1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
}
.second-banner-description {
    position: absolute;
    top: -90px;
    left: 155px;
    text-align: center;
}
.second-banner-description h4 {
    color: #272727;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 160px;
}
.second-banner-description p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    
}
.second-banner-description button {
    width: 130px;
    height: 50px;
    border-radius: 8px;
    background: #E55473;
    font-size: 18px;
    border: 0px;
    color: #fff;
    margin-right: 30px;
    margin-top: 8px;
}
.second-banner-description button:hover {
    color: #E55473;
    background-color: #fff;
    border: 1px solid #E55473;
} 
.second-banner-description input {
    width: 510px;
    height: 50px;
    margin-right: 10px;
    border: 0;
    border-radius: 8px;
    background: #fff;
    margin-top: 30px;
}
.second-banner-description input[type="email"] {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 25px;
}
/* Deals Section Ends Here */

/* Footer Section Starts Here */
.footer-section {
    text-align: center;
    background: #111010;
    padding: 80px;
}
.footer-section h4 {
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0;
    /* margin-top: 160px; */
}
.footer-section p {
    color: rgba(255, 255, 255, 0.90);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding: 0 320px;
}
.footer-section h6 {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* Footer Section Ends Here */